{% extends "landing/header.html" %}
{% load staticfiles%}

{% block head %}
    {#    Bring in the media necassary for the form #}
    {{ form.media }}
    {#  Bring in leaflet  #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.draw/leaflet.draw.css' %}" />
{% endblock %}

{% block content %}

    <div class="container">

      <div class="starter-template">

    <h1>About EVADE</h1>

    <p>The access to EnVironmental Analytics for Developing countriEs (EVADE) project is hosted on the STFC/NERC
        JASMIN "super-data-cluster" facility (<a href="http://jasmin.ac.uk">http://jasmin.ac.uk</a>) and builds on STFC and NERC investments into the Community Intercomparison Suite (CIS - <a href="http://cistools.net">http://cistools.net</a>) to develop a demonstration of an easy-to-use web portal
        providing access to environmental analytics of "big" Earth System data to users and scientists in developing countries (maximising co-benefits for the UK scientific and commercial applications).</p>

          <p>This site is intended to demonstrate these concepts and explore the technical challenges in realising this ambition.</p>

          <h2>Demo</h2>
          <p>This site contains two main demonstrations: Synthesising and exploring data.</p>

          <p>The <a href="/synthesize">Sythensis</a> page shows how a user might create a new dataset by selecting a
          region and the satellite measurement to create a time series from. The region can either be a pre-defined
          mega-city, or a user-defined box. Clicking 'Submit' will send the user to the 'Jobs' page and show the
          compute job that would be created. The compute facility is unavailable for the demo for security reasons so
          the jobs presented here are examples only.</p>

          <p>A set of pre-created measurement time-series can be explored in the <a href="/datasets">Explore</a> page.
          Here the user can click on any of the markers on the map to see a time series of the AOD in that location
          as measured the MODIS instrument. The user can also pan and zoom into the time series and save the
              resulting plot for offline use.</p>

    <h2>Funding</h2>

    <p>Funding for this initial demonstration phase was provided by STFC (ST/P003206/1). CIS is developed as open-source software and deployed for community use on the JASMIN platform provided by UK NERC, the UK Space Agency and the Science and Technology Facilities Council.</p>

          <h2>Design</h2>
          <p>As far as possible the platfrom uses a standard Django MVC design. We use the Djagngo-Rest-Framework (DRF) to create an API for the underlying data which the various views should use directly. We use Leaflet for the map
              components (linked to Mapbox for the basemap) and plot.ly for the time series plots.</p>

          <p>An Entity Relationship Diagram (ERD) of the data model components</p>

          <img src="{% static 'about/img/CIS_ESP_ERD.png' %}" class="img-responsive" alt="Story board">


    <h2>Copyright and license</h2>
    <p>© University of Oxford 2018</p>

    <p>CIS-ESP (and CIS) are free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. CIS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details: <a href="http://www.gnu.org/licenses">http://www.gnu.org/licenses</a>.</p>


      </div>

    </div><!-- /.container -->


{% endblock %}