{% extends "landing/header.html" %}
{% load staticfiles%}

{% block head %}
    {#    Bring in the media necassary for the form #}
    {{ form.media }}
    {#  Bring in leaflet  #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.draw/leaflet.draw.css' %}" />
{% endblock %}

{% block content %}

        <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
          <h1 class="page-header">Jobs</h1>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Job #</th>
                  <th>User</th>
                  <th>Region</th>
                  <th>Measurement</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,006</td>
                  <td>bloggsj</td>
                  <td>Jakarta</td>
                  <td>AOD</td>
                  <td class="success">Done</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>admin</td>
                  <td>---</td>
                  <td>AOD</td>
                  <td class="danger">Failed</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>bloggsj</td>
                  <td>Dhaka</td>
                  <td>NO2</td>
                  <td class="success">Done</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>fredj</td>
                  <td>Jakarta</td>
                  <td>NO2</td>
                  <td class="success">Done</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>sarahm</td>
                  <td>Lagos</td>
                  <td>AOD</td>
                  <td class="warning">Running</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>sarahm</td>
                  <td>Shanghai</td>
                  <td>AOD</td>
                  <td class="success">Done</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>admin</td>
                  <td>test</td>
                  <td>NO2</td>
                  <td class="warning">Running</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>bloggsj</td>
                  <td>Delhi</td>
                  <td>NO2</td>
                  <td class="success">Done</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>sclaire</td>
                  <td>Delhi</td>
                  <td>NO2</td>
                  <td class="success">Done</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sclaire</td>
                  <td>Lagos</td>
                  <td>NO2</td>
                  <td class="success">Done</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

{% endblock %}