# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

gdal
django
jinja2
psycopg2

# For loading data:
# cis

# Also requires django-widget-tweaks from pypi